.light-theme-colors {
	#toggle-theme {
		background-color: hsl(230, 22%, 74%);

		&:hover {
			background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
		}
	}

	.cards-theme:hover {
		filter: brightness(0.9);
	}

	--neutral-bg: hsl(0, 0%, 100%);
	--neutral-top-bg-pattern: hsl(225, 100%, 98%);
	--neutral-card-bg: hsl(227, 47%, 96%);
	--neutral-text-1: hsl(228, 12%, 44%);
	--neutral-text-2: hsl(230, 17%, 14%);
}

.dark-theme-colors {
	#toggle-theme {
		background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
	}

	.cards-theme:hover {
		filter: brightness(1.5);
	}

	--neutral-bg: hsl(230, 17%, 14%);
	--neutral-top-bg-pattern: hsl(232, 19%, 15%);
	--neutral-card-bg: hsl(228, 28%, 20%);
	--neutral-text-1: hsl(228, 34%, 66%);
	--neutral-text-2: hsl(0, 0%, 100%);
}

$primary-diff-up: hsl(163, 72%, 41%);
$primary-diff-down: hsl(356, 69%, 56%);

$primary-fb: hsl(208, 92%, 53%);
$primary-twt: hsl(203, 89%, 53%);
$primary-insta: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$primary-yt: hsl(348, 97%, 39%);
