.light-theme-colors {
	#toggle-theme {
		background-color: hsl(230, 22%, 74%);
	}

	--neutral-bg: hsl(0, 0%, 100%);
	--neutral-top-bg-pattern: hsl(225, 100%, 98%);
	--neutral-card-bg: hsl(227, 47%, 96%);
	--neutral-text-1: hsl(228, 12%, 44%);
	--neutral-text-2: hsl(230, 17%, 14%);
}

.dark-theme-colors {
	#toggle-theme {
		background-image: linear-gradient(hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
	}

	--neutral-bg: hsl(0, 0%, 100%);
	--neutral-top-bg-pattern: hsl(225, 100%, 98%);
	--neutral-card-bg: hsl(227, 47%, 96%);
	--neutral-text-1: hsl(228, 12%, 44%);
	--neutral-text-2: hsl(230, 17%, 14%);
}
