@use 'globals' as *;

header {
	width: 100%;
	position: relative;

	@include flexbox(column, center, flex-start);

	margin-bottom: 3rem;
}

h1 {
	@include bold-font;
	font-size: 1.7rem;

	color: var(--neutral-text-2);
}

#toggle-theme-container {
	position: absolute;
	top: auto;
	bottom: auto;
	right: 0;

	@include flexbox(row);
}

hr {
	width: 100%;
	height: 1px;
	border: none;

	background-color: var(--neutral-text-1);

	margin-top: 1rem;
	margin-bottom: 1rem;

	display: none;
}

#theme-name {
	margin-right: 1rem;
}

#toggle-theme {
	$button-height: 1.8rem;
	$button-width: 3.5rem;

	width: $button-width;
	height: $button-height;
	position: relative;

	border: none;
	border-radius: 9999px;

	$inside-spacing: 0.3rem;
	$knob-size: $button-height - ($inside-spacing * 2);

	&::after {
		display: block;
		content: '';

		height: $knob-size;
		width: $knob-size;

		position: absolute;
		top: $inside-spacing;

		border-radius: inherit;
		background-color: var(--neutral-top-bg-pattern);

		transition: right $theme-change-duration ease-out;
	}

	.light-theme-colors &::after {
		right: $inside-spacing;
	}

	.dark-theme-colors &::after {
		right: $button-width - $inside-spacing - $knob-size;
	}
}

@media (max-width: 650px) {
	hr {
		display: block;
	}

	#toggle-theme-container {
		position: static;

		justify-content: space-between;
		width: 100%;
	}
}
