@use 'globals' as *;

.main-card {
	aspect-ratio: 10 / 9;
	padding-top: 2rem;
	padding-bottom: 1.8rem;

	position: relative;

	border-radius: $card-border-radius;

	@include flexbox(column, space-between);

	&::after {
		content: '';
		display: block;

		border-radius: $card-border-radius $card-border-radius 0 0;

		width: 100%;
		height: 0.3rem;

		position: absolute;
		top: 0;
	}
}

#fb-main::after {
	background-color: $primary-fb;
}

#twt-main::after {
	background-color: $primary-twt;
}

#insta-main::after {
	background-image: $primary-insta;
}

#yt-main::after {
	background-color: $primary-yt;
}

.social-media-container {
	@include flexbox(row);
	margin-bottom: auto;

	p {
		margin-left: 0.5rem;
	}
}

.people-count {
	color: var(--neutral-text-2);
	font-size: 3.5rem;
}

.people-name {
	margin-bottom: auto;

	font-weight: 400;
	letter-spacing: 0.2rem;
}


@media (max-width: 650px) {
	.main-card {
		aspect-ratio: 4 / 3;
	}
}
