@mixin normal-font {
	font-family: "Inter", "sans-serif";
	font-weight: 400;
}

@mixin bold-font {
	font-family: "Inter", "sans-serif";
	font-weight: 700;
}

@mixin flexbox($direction, $major-axis: center, $minor-axis: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $major-axis;
	align-items: $minor-axis;
}

// CSS black magic
@mixin grid-minmax-cols($min-size, $min-col, $max-col) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%/$min-col, max($min-size, 100%/$max-col)), 1fr));
}
