@use 'globals' as *;

@use 'header-section';
@use 'main-stats-section';


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	transition:
		color $theme-change-duration ease-out,
		background-color $theme-change-duration ease-out;
}

html {
	width: 100vw;
}

body {
	width: 82%;
	margin: auto;

	background-color: var(--neutral-bg);

	@include flexbox(column);
}

p {
	@include bold-font;
	font-size: 0.8rem;

	color: var(--neutral-text-1);
}

.diff-text::before {
	display: inline-block;
	transform: translateY(-20%);

	margin-right: 0.4rem;
}

.up-trend {
	color: $primary-diff-up;

	&::before {
		content: url("./images/icon-up.svg");
	}
}

.down-trend {
	color: $primary-diff-down;

	&::before {
		content: url("./images/icon-down.svg");
	}
}
