@use 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	$primary-diff-up: hsl(163, 72%, 41%);
	$primary-diff-down: hsl(356, 69%, 56%);

	$primary-fb: hsl(208, 92%, 53%);
	$primary-twt: hsl(203, 89%, 53%);
	$primary-insta: linear-gradient(hsl(37, 97%, 70%) to hsl(329, 70%, 58%));
}

html {
	width: 100vw;
}
