@use 'globals' as *;

@use 'header-section';
@use 'main-stats-section';
@use 'overview-section';


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	transition:
		color $theme-change-duration ease-out,
		background-color $theme-change-duration ease-out;
}

html {
	width: 100vw;
}

body {
	width: 82%;
	min-height: 100vh;
	margin: auto;
	padding-top: 0.5rem;

	position: relative;

	background-color: var(--neutral-bg);

	@include flexbox(column);

	&:after {
		content: '';
		display: block;

		position: absolute;
		top: 0;
		z-index: -1;

		height: 30vh;
		width: 100vw;

		border-bottom-right-radius: 1rem;
		border-bottom-left-radius: 1rem;

		background-color: var(--neutral-top-bg-pattern);
	}
}

main {
	width: 100%;
}

p {
	@include bold-font;
	font-size: 0.9rem;

	color: var(--neutral-text-1);
}

h2 {
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 1.7rem;

	color: var(--neutral-text-2);
	text-align: left;
	@include bold-font;
}

.cards-section {
	width: 100%;
	
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.7rem;
}

.cards-theme {
	background-color: var(--neutral-card-bg);

	&:hover {
		cursor: pointer;
	}
}

.diff-text::before {
	display: inline-block;
	transform: translateY(-20%);

	margin-right: 0.4rem;
}

.up-trend {
	color: $primary-diff-up;

	&::before {
		content: url("./images/icon-up.svg");
	}
}

.down-trend {
	color: $primary-diff-down;

	&::before {
		content: url("./images/icon-down.svg");
	}
}
